#!/bin/bash --login

#SBATCH --partition=compute
#SBATCH --job-name={{ jobname }}
#SBATCH --output={{ logfileout }}.%J
#SBATCH --error={{ logfileerr }}.%J
#SBATCH --time={{ time }}
#SBATCH --ntasks={{ ncores }}
#SBATCH --mem-per-cpu={{ mem_per_core_mb }}

{{ env_setup }}

{{ cmd }}

